# no proxy
NO_PROXY=.aexp.com,localhost:4444,127.0.0.1
sass_binary_site=https://ci-repo.aexp.com/nodejs/content/sites/npm-remotes/sass/node-sass/releases/download
SASS_BINARY_SITE=https://ci-repo.aexp.com/repository/github-node-sass/download
CHROMEDRIVER_CDNURL=https://ci-repo.aexp.com/repository/google-storage-chromedriver
PUPPETEER_DOWNLOAD_HOST=https://ci-repo.aexp.com/repository/google-storage-chromium-browser
